.heading{
  color: red;
}

.label{
  width: 265px;
  display: inline-block;
  font-size: 22px;
}

.inputbox{
  font-size: 22px;
}

.space{
  margin-bottom: 10px;
  font-size: 22px;
}

.image{
  width: 300px;
}

.row{
  display: flex;
  flex-direction: row;
}

.address{
  font-size: 22px;
  width: 300px;
  height: 60px;
}

.font{
  font-size: 22px;
}

.error-msg{
  color:  red;
  font: 18px;
}

.container{
  height: 97vh;
}

.heading{
  height: 10%;
  border: 2px solid red;
}

.wrapper{
  height: 85%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
}

.sidebar{
  width: 25%;
  height: 100%;
  border: 2px solid black;
}

.content{
  width: 75%;
  height: 100%;
  border: 2px solid black;
}

.footer{
  height: 5%;
  border: 2px solid red;
}