.column-1 {
  height: 32vh;
  border: 2px solid red;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.column-2 {
  height: 25vh;
  border: 2px solid red;
  margin-left: 20px;
  margin-right: 20px;
}

.column-3 {
  height: 32vh;
  border: 2px solid red;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.main-image{
  width: 20%;
  height: 100%;
  border: 2px solid black;
}

.main-content{
  width: 80%;
  height: 100%;  
  border: 2px solid black;
}

.title{
  height: 40%;
  border: 2px solid blue;
}

.title-info{
  height: 56%;
  border: 2px solid blue;
}